.product-item {
    position: relative;
    background-color: #376f59;
    margin-bottom: 1px;
}

.product-name {
    display: inline-block;
    margin: 5px 0 10px 0;
    font-size: large;
}

.product-actions {
    display: inline;
    position: absolute;
    right: 0;
}